:root {
    --pink: rgb(233, 89, 122);
    --theme:rgb(195,123,71);
    --gradient:linear-gradient( rgba(195,123,71,1) 0%, rgba(195,123,71,1) 0%, rgba(121,61,9,1) 97%);
  }
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#iframe{
    pointer-events: none;
}
.color{
    color:var(--pink);
}
.color_span{
    color: #aaa;
}
.color_head{
    background:rgb(0,0,0,0.5);
    
}

header{
    position: sticky;
    top: 0;
    background-color: transparent;
}

body{
    background: var(--theme);
    font-family: 'Open Sans', sans-serif;
}
h1{
    margin-bottom: 0.2em;
}
img{
    /* object-fit:cover; */
    /* max-width: 100%; */
}
.line{
    height: 1px;
    width: 10%;
    margin: 0.5em auto;
    border: 0.5px solid var(--pink);
}
.hide{
    display: none;
}
.fa-palette{
    position: fixed;
    top: 50%;
    left: 0.3em;
}
#choix{
    width: 15em;
    height: 15em;
}

/* input[type=submit]{
    padding: 0.5em 1em;
    border-style: solid;
    border-width: 2px;
    color: white;
    text-transform: uppercase;
    border-color: white;
    background-color: transparent;
} */
#wrapper{
    width: 75%;
    margin: auto;
}
.button{
    padding: 0.5em 1em;
    border-style: solid;
    border-width: 2px;
    color: white;
    text-transform: uppercase;
    border-color: white;
    background-color: transparent;
}
.btn-rose{
    background-color: var(--pink)
}
.border-rose{
    border-color: var(--pink);
}
.text-rose{
    color: var(--pink);
}
#title,#buy{
    color: white;
    padding:2em 0;
    text-align: center;
}
#buy{
    background: url('../images/ciel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}
#title>p,#buy>p{
    margin: 4em 0 4em 0;
}
.main>*:nth-child(odd){
    color: white;
}
.main>*:not(.test):nth-child(even){
    color: black;
    background: white;
}
.end{
    background-color: black;
    color: white;
    text-align: center;
}
section:not(#gallery){
    padding: 1em 8em;
}
#gallery{
    /* position: relative; */
}
.logo img{
    width:5em;
    height: 5em;
}
.flex{
    display:flex;
}
.child{
    flex:1;
    padding: 0 2em;
}
#nav{
    align-items: center;
    justify-content: space-around;
    padding: 2em 0;
   
}
.nav_menu{
    /* opacity : 0; */
}
.nav_menu a{
    color: white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    text-transform: uppercase;

}
.nav_menu .soulign:hover{
    border-bottom: 1px solid white;
}
.subline{
    border-bottom: 1px solid var(--pink);
}
#title{
    background: url('../images/photo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
    text-transform: uppercase;
    padding: 1em;
    text-shadow: 2px 2px 2px var(--pink);
}
#title p{
    font-size: 1.5em;
}
.gal_img{
    flex-wrap: wrap;
    justify-content: center;
    /* position: relative; */
}
.modal,.modal1{
    position: fixed;
    
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0, 0.5);
    animation: anim ease;
    animation-duration: 1s;
}
.center_modal{
    width: 100%;
    height: 100%;
    padding: 15vh;
    align-self: center;
    
}
#modal_img{
    height: 100%;
    max-height: 70vh;
    display: block;
    margin: auto;
    opacity: 0;
    transition: opacity 1s;
}

.affich{
    /* max-width: 75%; */
    margin: auto;
    padding-top: 5em;
    z-index: 1;
}
.arrow{
    position: fixed;
    top: 50%;
    left: 10em;
}
.arrow1{
    position: fixed;
    top: 50%;
    right: 10em;
}

.transform {
    transition: all 300ms ;
}

#modal_img.transform-active {
    opacity: 1;
}
.img_gal{
    width: 25%;
    height: 15em;
    overflow: hidden;
}
.gal_img img:hover{
    transform: scale(1.1);
}
.img_gal>img{
   
    overflow : hidden;
}
.gal_nav{
    width: 100%;
    justify-content:space-between ;
    padding:2em 5em;
    background: white;
    text-transform: uppercase;
}

#testimonials h1,#contact h1{
    text-align: center;
}
.center_test{
    max-width: 75%;
    margin:auto;
}
.avatar{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow:hidden;
}
.center_test>div{
    display: flex;
    align-items: flex-start;
    padding: 3em 0;
    border-bottom: 1px solid #aaa; 
}
.center_test>div:last-child{
    border: none;
}
.center_test img{
    height: 5em;
    width: 5em;
    margin: 0 1em 0 0;
    border-radius: 50%;
}
.center_test>div:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
}
.center_test>div:nth-child(even) img{
    margin: 0 0 0 1em;
}

blockquote{
    margin: 0;
}
blockquote p{
    font-style: oblique;
    font-size: 1.5em;
    margin-top: 0;
}
.become{
    text-align: center;
}
#form{
    /* max-width: 50%; */
    margin: auto;
    justify-content: space-around;
}
#form>div{
    text-align: left;
    display: flex;
    flex-direction: column;
}
#form>div>.button{
    width:20%;
}
#form>div>input{
    line-height:3em;
    background-color: #aaa;
    margin-bottom : 0.5em;
}
#form>div{
   flex:1;
   padding:0 1em;
   justify-content: space-around;
   align-self: flex-start;
   
}
.form_label{
    text-align: left;
    margin-bottom: 0.5em;
}
.form_label input,textarea{
    margin:0.5em 0 0.5em 0;
    background-color: #aaa;
}
textarea{
    height: 8em;
}
#footer{
    background-color: black;
    padding: 2em;
}
.bars_menu{
    display: none;
}
.fa-square-full{
    margin: 0 0.5em;
}
.child .line{
    margin: 0;
}
.child div p{
    padding-left: 2.5em;
}
.fab,.fas:not(.change),.far{
    color: var(--pink);
    padding-right: 0.5em;
}


.move-me {
    display: inline-block;
    padding: 20px;
    color: white;
    position: relative;
    margin: 0 0 10px 0;
  }
  .move-me-1 {
    animation: move-in-steps 8s steps(4) infinite;
  }
  .move-me-2 {
    animation: move-in-steps 8s steps(4, start) infinite;
  }
  .move-me-3 {
    animation: move-in-steps 2s ease;
  }
  .turn:hover .move-me-3{
    animation: move-in-steps 2s ease;
  }
  .move-me-4 {
    animation: move-in-steps 8s infinite;
  }
  body {
    padding: 20px;
  }
  
  @keyframes move-in-steps {
    0% {
      transform: rotate(0);
      left: 0;
    }
    100% {
      transform: rotate(360deg);
      left:100%;
    }
  }



@media all and (max-width: 640px) {
    #title p{
        font-size: 1em;
    }
    .flex{
        flex-direction: column;
    }
    #wrapper{
        width: 100%;
    }
    #nav{
        position: fixed;
       width: 100%;
        top:2em;
    }
    .nav_menu {
        flex-direction: column;
        opacity: 0;
        transition: opacity 1s;
        width: 100%;
    }
    .transform-active{
        opacity: 1;
    }
    .img_gal{
        width: 100%;
    }
    .port{
        padding: 0.5em 1em;
        background-color: black;
        border: 1px solid white;
        width: 100%;
        text-align: center;
    }
    .bars_menu{
        display: block;
        position: fixed;
        top:0.2em;
        left:0.5em;
        color: var(--pink);
    }
    .logo{
        display:none;
    }
    section:not(#gallery){
        padding: 1em 2em;
    }
    .center_test>div:nth-child(even){
        flex-direction: row;
        text-align: left;
        flex-direction: column;
    }
    .center_test>div img {
        display: block;
        margin: auto;
    }
    .center_test>div:nth-child(even) img {
        display: block;
        margin: auto;
    }
    #form div{
        width: 100%;
    }
    #form div .button{
        width: 100%;
    }
  }