:root {
    --pink: rgb(233, 89, 122);
    --theme:rgb(195,123,71);
    --gradient:linear-gradient( rgba(195,123,71,1) 0%, rgba(195,123,71,1) 0%, rgba(121,61,9,1) 97%);
  }
*{
    box-sizing: border-box;
}
body{
    background: var(--theme);
}
img{
    /* object-fit:cover; */
    /* max-width: 100%; */
}
.hide{
    /* display: none; */
    visibility: hidden;
}
.color{
    width: 15em;
    height: 15em;
    position: fixed;
    top: 50%;
}
/* input[type=submit]{
    padding: 0.5em 1em;
    border-style: solid;
    border-width: 2px;
    color: white;
    text-transform: uppercase;
    border-color: white;
    background-color: transparent;
} */
#wrapper{
    width: 75%;
    margin: auto;
}
.button{
    padding: 0.5em 1em;
    border-style: solid;
    border-width: 2px;
    color: white;
    text-transform: uppercase;
    border-color: white;
    background-color: transparent;
}
.btn-rose{
    background-color: var(--pink)
}
.border-rose{
    border-color: var(--pink);
}
.text-rose{
    color: var(--pink);
}
#title,#buy{
    color: white;
    padding:2em 0;
    text-align: center;
}
#buy{
    background: url('../images/ciel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}
#title>p,#buy>p{
    margin: 4em 0 4em 0;
}
.main>*:nth-child(odd){
    background: white;
}
.main>*:nth-child(even){
    color: white;
}
section:not(#gallery){
    padding: 1em 8em;
}
#gallery{
    /* position: relative; */
}
.logo img{
    width:5em;
    height: 5em;
}
.flex{
    display:flex;
}
.child{
    flex:1;
}
#nav{
    align-items: center;
    justify-content: space-around;
    padding: 2em 0;
}
.nav_menu a{
    color: white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    text-transform: uppercase;

}
.nav_menu a:hover{
    border-bottom: 1px solid white;
}
#title{
    background: url('../images/foret.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
}
.gal_img{
    flex-wrap: wrap;
    /* position: relative; */
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100vh;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgb(0,0,0, 0.5);
}
.affich{
    max-width: 75%;
    margin: auto;
}
.modal .affich img{
    max-width: 100%;
    margin-left: 25%;
}
.transform {
    transition: all 5s ease;
}

.transform-active {
    /* height: 200px; */
    max-width: 100%;
}
.img_gal{
    width: 24.77em;
    height: 24.77em;
    overflow: hidden;
}
.gal_img img:hover{
    transform: scale(1.1);
}
.img_gal>img{
   
    overflow : hidden;
}
#testimonials h1,#contact h1{
    text-align: center;
}
.center_test{
    max-width: 75%;
    margin:auto;
}
.avatar{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow:hidden;
}
.center_test>div{
    display: flex;
    align-items: flex-start;
    padding: 2em 0;
    border-bottom: 1px solid #aaa; 
}
.center_test>div:last-child{
    border: none;
}
.center_test img{
    height: 5em;
    margin: 0 1em 0 0;
    border-radius: 50%;
}
.center_test>div:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
}
.center_test>div:nth-child(even) img{
    margin: 0 0 0 1em;
}

blockquote{
    margin: 0;
}
blockquote p{
    font-style: oblique;
    font-size: 1.5em;
    margin-top: 0;
}
.become{
    text-align: center;
}
#form{
    max-width: 50%;
    margin: auto;
    justify-content: space-around;
}
#form>div{
    text-align: center;
}
.form_label{
    text-align: left;
}